<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Watches only the YouTube app (see res/xml/focus_guard_service.xml) and backs out of Shorts. -->
        <service
            android:name="app.tasks.focusguard.ShortsBlockerService"
            android:exported="true"
            android:label="@string/focus_guard_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/focus_guard_service" />
        </service>
    </application>
</manifest>
